*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(226, 231, 243, 0.598);;
}   
body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #92a8b7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #94a6b3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #fff;
     
}
div img {
    width: 50px;
    height: 90px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px; 
}
nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  padding: 30px 0;

}

nav ul {
  display: flex;  
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}
/*ul {
    display: flex;
    list-style: none;
    align-items: center;

}
ul li a {
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: rgb(49, 191, 198)   
}*/
section {
    text-align: center;
    padding: 50px;
}
.container .name h1 {
    font-size: 50px;
    margin: 20px;
}
.container .name h5 {
    font-size: 30px;
    margin: 20px;
} 
.arrow i {
    width: 30px;
    height: 30px;
}   
.about p {
    max-width: 600px;
    margin: 0 auto;
}


